## This is a template to transform existing yaml
## It should end with a json object

{
  dir: __dirname
  file: __filename
  name: @base.basename,
  description: @base.basename,
  value: @base.value*10,
  new: @base.old
  missing: @base.missing
  array: @base.array.concat([4])
  fun: () -> "friday"
  length: base.__content.length
}