## This is a template to transform existing yaml
## It should end with a json object

{
  file: @document.__basename
  name: @document.name
  description: @document.name
  value: @document.value*10
  new: @document.old
  missing: @document.missing
  array: @document.array.concat([4])
  fun: () -> "friday"
  length: @document.__content.length
}